#main2{
    height: 650px;
    background-size: cover;
    background-image: url(oop.jpg);
    
    width: 100%;
    display: inline-block;
    text-align: center;
}


.ba a{
    text-decoration: underline;
}

.bb a{
    font-size: medium;
}